# Python Basic Syntax
- Data Types
    - Dynamic Typing : Automatically sets data types in memory. Python interpreter does type checking only as code runs, and the type of a variable is allowed to change over its lifetime
    - Basic Data Types : integer, float, boolean, string
    - Collection Data Types : list(iterable), tuple(iterable), dict
- Offset Index
    - Used to access data located at a specific element of a data object
    - Only allowed in iterable data types
- Conversion
    - Allows chaning data types of varabiles
    - zip
        - Pairs data in the same index of multiple lists
        - Matched pairs then can be used to be converted to a dictionary object
- Ternary Operator (삼항연산자)
    - A one line code to implement basic if, else statments
    - (True) if (condition) else (False)
- List Comprehension
    - An easy and compact syntax for creating a list from a string or another list
    - It is a very concise way to create a new list by performing an operation on each item in the existing list
    - List comprehension is considerably faster than processing a list using the for loop
- Parameters and Arguments
    - Parameter: the variable as found in the function definition
    - Argument : the the actual input supplied at function call
- Return
    - Return is used to store results of a function call
    - Not every built-in functions have return set as default
- Args and Kwargs
    - The **args** and kwargs keywords allow you to pass a variable number of arguments to a Python function
    - The **args** keyword sends a list of values to a function
    - The **kwargs** sends a dictionary with values associated with keywords to a function

### 1. Zip Function

In [4]:
#list
city = ["seoul", "busan", "daegu"]
population = [9700000, 3400000, 2400000]

In [5]:
#zip city and population lists
list(zip(city, population))

[('seoul', 9700000), ('busan', 3400000), ('daegu', 2400000)]

In [7]:
#convert to a dictionary object
dict(list(zip(city, population)))

{'seoul': 9700000, 'busan': 3400000, 'daegu': 2400000}

### 2. Ternary Operator

In [11]:
#a basic if else statement
data = 1

if data:
    print("not zero")
else:
    print("zero")

not zero

In [14]:
#(True) if (condition) else (False)
data = 1
result = "not zero" if data else "zero"
result

'not zero'

### 3. List Comprehension

In [16]:
#ex1) basic for loop
ls = [0, 1, 2, 3]
result = []

for data in ls:
    result.append(data ** 2)
    
result

[0, 1, 4, 9]

In [17]:
#ex1) list comprehension
[data ** 2 for data in ls]

[0, 1, 4, 9]

In [22]:
#ex2) basic for loop
ls = [1, 2, 3, 4, 5, 6]

["odd" if data % 2 else "even" for data in ls]

['odd', 'even', 'odd', 'even', 'odd', 'even']

In [23]:
#add filtering at the end of the statement
["odd" if data % 2 else "even" for data in ls if data < 3]

['odd', 'even']

### 4. Parameters and Arguments

In [24]:
#you can set default parameters
def plus(num1, num2 = 10, num3 = 20):
    print(num1 + num2 + num3)

In [29]:
#because of the default parameters, 
#you can simply input arguments for num1 parameter
plus(0)
#same as plus(num1 = 0), a process known as keyword argument

30

In [30]:
plus(1, 1, 1)

3

In [31]:
plus(1, num3 = 50)

61

### 5. Return

In [33]:
#define a function
def plus(num1, num2):
    return num1 + num2

#store result of a function call
result = plus(1, 2)
result

3

* Not every built-in function has return set as default

In [ ]:
data1 = "python"
result1 = data1.upper()
print(result1)

data2 = [3, 1, 2]
result2 = data2.sort()
print(result2)

* For example, sort() function doesn't return any value, but instead sorts and saves the input object in its own

In [36]:
data2

[1, 2, 3]

* If the return code runs in a function, the function process ends automatically

In [38]:
#function quits after processing return statement
def echo(msg):
    if msg == "quit":
        return
    print(msg)

In [39]:
echo("python")

python

In [41]:
echo("quit")

### 6. Args and Kwargs

In [43]:
#define a function
def plus(*args, **kwargs):
    print(type(args), args)
    print(type(kwargs), kwargs)
    return sum(args) + sum(kwargs.values())

In [44]:
plus(1, 2, 3, 4, 5, num1 = 6, num2 = 7)

<class 'tuple'> (1, 2, 3, 4, 5)
<class 'dict'> {'num1': 6, 'num2': 7}

28

* When you have a list of values you want to pass into a function, you can add an asterisk in front of the list of values as parameters of the function

In [49]:
def func(num1, num2=10, num3=20):
    return num1 + num2 + num3

data_list = [1, 2, 3]
func(*data_list) #this is equivalent to func(1, 2, 3)
# func(data) #this is equivalent to func([1, 2, 3])

6

In [51]:
#using list and dictionary as arguments and keyword arguments
data_dict = {
    "num2": 100,
    "num3": 200,
}

plus(*data_list, **data_dict) # func(1, num2=100, num3=200)

<class 'tuple'> (1, 2, 3)
<class 'dict'> {'num2': 100, 'num3': 200}

306